.card {
  background-color: var(--card-color);
  border-radius: var(--card-border-radius);
  width: 20%;
  margin: 0.3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 1;
}

.card button {
  background-color: transparent;
  border-color: transparent;
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  border: 1px solid orange;
  min-height: 100px;
}
.card button span {
  width: 100%;
  border: 1px solid green;
}

.card img {
  object-fit: cover;
  min-height: 100px;
  width: 100%;
  border-radius: var(--card-border-radius);
}

@media screen and (min-width: 576px) {
  .card button {
    min-height: 200px;
  }
  .card img {
    min-height: 200px;
  }
}
