/* Position of footer is defined in app.css file */

.listWrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

.footer ul {
  width: fit-content;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.footer li {
  margin: 0 auto;
  padding: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
}

.footer li a {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 576px) {
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 auto;
  }
  .footer li {
    font-size: 1rem;
  }
}
