.header nav {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.header ul {
  width: fit-content;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
/* Position of header is defined in app.css file */
