@import '../utilities/stylesVariables.css';

.logo {
  font-weight: 800;
  font-size: 1.5rem;
}

.navItems li {
  width: fit-content;
  border: 2px solid transparent;
}
.navItems img {
  max-width: 30px;
}
.navItems a:hover {
  opacity: 80%;
  cursor: pointer;
}

.navItems a {
  color: var(--link-color);
  display: flex;
}
.navItems a.active {
  opacity: 80%;
}
