:root {
  --font-weight-general: 400;
  --font-general: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --bground-color: hsl(177, 51%, 93%, 0.9);
  --dark-color: hsl(247, 31%, 20%);
  --background-picto: hsl(247, 31%, 20%, 0.2);
  --white-color: hsl(216, 100%, 98%);
  --yellow-color: hsl(50, 100%, 45%);
  --card-color: hsl(248, 47%, 43%);

  --link-color: hsl(248, 47%, 43%);
  --hover-color: hsl(248, 47%, 43%, 0.8);
  --hover-button-color: hsla(50, 100%, 45%, 0.8);

  /* ------- SPACING---------*/

  /* ------- OTHER STYLES---------*/
  --card-border-radius: 5px;
  --border-radius: 50px;
}
